############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes.env
._*
*.pem


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################
.yarn/cache

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

############################
# Tests
############################

coverage

############################
# Strapi
############################

license.txt
exports
!data/exports
*.cache
dist
!packages/strapi-admin-overrides/*/dist
apps/cms/src/plugins/*/dist
!apps/cms/strapi-config.tar.gz
build
.strapi-updater.json
generated
!types/generated
**/public/uploads/*
.strapi
apps/web/public/_next-video
############################
# Next
############################

.next
out
build
.vercel
*.tsbuildinfo
next-env.d.ts
apps/web/videos

############################
# Config
############################

.env
.env.local

############################
# Docs
############################

build
*-build
.docusaurus
.cache-loader

############################
# Monorepo
############################

.eslintcache
delete_workflow_runs.sh

# voeg helemaal onderaan .gitignore toe
!apps/cms/build/
!apps/cms/build/**

!apps/cms/dist/
!apps/cms/dist/**